<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .books td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>

<body>
<h1>books:</h1>

<table class="books" id="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Genre</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>


<script>
    async function fetchAndDisplayBooks() {
        try {
            const books = await fetch("http://localhost:8080/books")
            const booksJson = await books.json()
            fillTable(booksJson)
        } catch (error) {
            error.response.data
            console.log('Error fetching books:', error);
        }
    };

    const fillTable = (books) => {
        const tbody = document.querySelector('#books tbody');
        tbody.innerHTML = '';

        books.forEach(book => {
            let rowElement = document.createElement('tr');
            tbody.appendChild(rowElement);

            let cellElementId = document.createElement('td');
            cellElementId.textContent = book.id;
            rowElement.append(cellElementId);

            let cellElementTitle = document.createElement('td');
            cellElementTitle.textContent = book.title;
            rowElement.append(cellElementTitle);

            let cellElementGenre = document.createElement('td');
            cellElementGenre.textContent = book.genre.name;
            rowElement.append(cellElementGenre);

            let cellElementAuthor = document.createElement('td');
            cellElementAuthor.textContent = book.author.fullName;
            rowElement.append(cellElementAuthor);
        })
    }

    fetchAndDisplayBooks();
</script>

</body>
</html>