<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>

<h3>Books:</h3>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.title}">John Doe</td>
        <td th:text="${book.author.fullName}">John Doe</td>
        <td th:text="${book.genre.name}">John Doe</td>
        <td>
            <a href="edit.html" th:href="@{/books/edit/{id}(id=${book.id})}">
                <button type="button">Edit</button>
            </a>
            <form th:action="@{/books/remove/{id}(id=${book.id})}" th:method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div class="row">
    <a href="create.html" th:href="@{/books/new}">
        <button type="button">Create</button>
    </a>
    <a href="authors.html" th:href="@{/authors}">
        <button type="button">Authors</button>
    </a>
    <a href="genres.html" th:href="@{/genres}">
        <button type="button">Genres</button>
    </a>
</div>
</body>
</html>
