<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Found book</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>

<h3>Book:</h3>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${book.id}">1</td>
        <td th:text="${book.title}">John Doe</td>
        <td th:text="${book.author.fullName}">John Doe</td>
        <td th:text="${book.genre.name}">John Doe</td>
    </tr>
    </tbody>
</table>
</body>
</html>