<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all genres</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>

<h3>Genres:</h3>

<table class="genres">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="genre : ${genres}">
        <td th:text="${genre.id}">1</td>
        <td th:text="${genre.name}">John Doe</td>
    </tr>
    </tbody>
</table>
<div class="row">
    <a href="books.html" th:href="@{/books}">
        <button type="button">Return</button>
    </a>
</div>
</body>
</html>
